{:paths   ["src/clj" "resources"]

 :deps    {org.clojure/clojure           {:mvn/version "1.12.0"}
           io.github.clojure/tools.build {:git/tag "v0.10.10", :git/sha "deedd623574e3712687a657691c6b79f5026b3a1"}
           babashka/process              {:mvn/version "0.6.23"}
           babashka/fs                   {:mvn/version "0.5.26"}
           aero/aero                     {:mvn/version "1.1.6"}
           io.github.paintparty/bling    {:mvn/version "0.8.8"}
           selmer/selmer                 {:mvn/version "1.12.62"}
           cheshire/cheshire             {:mvn/version "6.0.0"}
           org.babashka/cli              {:mvn/version "0.8.66"}
           io.github.babashka/neil       {:git/sha "0b7373dd1b5a0dc7f8aff83b8e65d75d7d5e23bc"}}

 :tools/usage {:ns-default big-config.tools}

 :aliases {:build {:deps       {io.github.clojure/tools.build       {:mvn/version "0.9.6"}}
                   :ns-default build}

           :dev  {:jvm-opts    ["-Djdk.attach.allowAttachSelf"]
                  :extra-deps  {com.lambdaisland/classpath          {:mvn/version "0.5.48"}
                                expound/expound                     {:mvn/version "0.9.0"}
                                pjstadig/humane-test-output         {:mvn/version "0.11.0"}
                                org.clojure/tools.namespace         {:mvn/version "1.4.4"}}
                  :extra-paths ["env/dev/clj" "env/test/resources" "test/clj"]}

           :test {:extra-deps  {expound/expound                      {:mvn/version "0.9.0"}
                                io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                                      :git/tag "v0.5.1"
                                                                      :git/sha "dfb30dd"}
                                pjstadig/humane-test-output          {:mvn/version "0.11.0"}
                                org.clojure/tools.namespace          {:mvn/version "1.4.5"}
                                com.lambdaisland/classpath           {:mvn/version "0.5.48"}}
                  :exec-fn      cognitect.test-runner.api/test
                  :extra-paths ["env/test/resources" "test/clj"]
                  :main-opts   ["-e" "(require 'pjstadig.humane-test-output) (pjstadig.humane-test-output/activate!)"
                                "-m" "cognitect.test-runner"]}}}
