{:data-fn amiorin.big-config/data-fn
 :template-fn amiorin.big-config/template-fn
 :post-process-fn amiorin.big-config/post-process-fn
 :transform
 [["build" ""
   {"envrc" ".envrc"
    "projectile" ".projectile"}]
  ["resources" "resources"
   {"big-config.edn" "{{main}}.edn"}]
  ["src" "src"
   {"aero_readers.clj" "{{main/file}}/aero_readers.clj"
    "main.clj" "{{main/file}}/alpha/main.clj"
    "user_data.clj" "{{main/file}}/alpha/user_data.clj"}]
  ["test" "test"
   {"tofu_test.clj" "{{main/file}}/tofu_test.clj"}]]}
