{:transform
 [["resources" "resources/{{top/file}}/{{main/file}}" {} ["<<" ">>"]]
  ["build" ""
   {"bb.edn" "bb.edn"
    "envrc" ".envrc"
    "projectile" ".projectile"}
   :only]
  ["build" ""
   {"template.edn" "resources/{{top/file}}/{{main/file}}/template.edn"
    "config.edn" "resources/{{top/file}}/{{main/file}}/config.edn"
    "user_data.sh" "resources/{{top/file}}/{{main/file}}/files/user_data.sh"}
   ["<<" ">>"]
   :only]
  ["src" "src/{{top/file}}"
   {"main.clj" "{{main/file}}.clj"}]
  ["test" "test/{{top/file}}"
   {"main_test.clj" "{{main/file}}_test.clj"}]]}
