{:deps {amiorin/big-config {:local/root "."}}
 :tasks
 {:requires ([render :as render])
  -tidy {:doc "tidy clojure files"
         :task (do (shell "clojure-lsp clean-ns")
                   (shell "clojure-lsp format"))}
  render {:doc "bb render"
          :task (render/build* *command-line-args*)}}}
