{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure          {:mvn/version "1.12.1"}
           io.github.amiorin/big-config {:git/sha "e7679e5e31766cb9202d96c7e5e2fb6c98d4130b"}}
 :aliases {:dev  {:extra-paths ["env/dev/clj" "test"]}
           :test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}}}
