name: Tests

on:
  push:
    paths-ignore:
      - "**/*.md"
      - "/.gitignore"
    branches:
      - main

permissions:
  contents: write
  actions: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
      - name: download big-container
        run: docker pull ghcr.io/amiorin/big-container:latest
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: runs big-config tests
        id: run_tests
        run: >-
          docker run
          --rm
          -u vscode
          -v /tmp:/tmp
          -e SSH_AUTH_SOCK=$SSH_AUTH_SOCK
          -e GITHUB_WORKSPACE=$GITHUB_WORKSPACE
          -v $GITHUB_WORKSPACE:$GITHUB_WORKSPACE
          ghcr.io/amiorin/big-container:latest
          fish -c 'cd $GITHUB_WORKSPACE
          && mkdir ~/.ssh
          && chmod 700 ~/.ssh
          && ssh-keyscan -H github.com >> ~/.ssh/known_hosts
          && git config --global user.name "github-actions[bot]"
          && git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          && bb build
          && direnv allow
          && direnv exec . just test'

# test locally
# cat .github/workflows/ci.yml | jet -i yaml -o json | jq -r .jobs.test.steps[3].run | GITHUB_WORKSPACE=$(pwd) bash -s

  tag:
    needs:
      - test
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v4"
        with:
          fetch-depth: 0

      - id: set-artifact-tag-version
        run: echo "ARTIFACT_TAG_VERSION=0.3.$(git rev-list --count HEAD)" >> $GITHUB_OUTPUT

      - id: create-tag
        uses: rickstaa/action-create-tag@v1
        with:
          tag: ${{ steps.set-artifact-tag-version.outputs.ARTIFACT_TAG_VERSION }}
          force_push_tag: true
