name: Tests

on:
  push:
    paths-ignore:
      - "**/*.md"
      - "/.gitignore"
    branches:
      - main

permissions:
  contents: write
  actions: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
      - name: download big-container
        run: docker pull ghcr.io/amiorin/big-container:latest
      - name: runs big-config tests
        id: run_tests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: >-
          docker run
          --rm
          -u vscode
          ghcr.io/amiorin/big-container:latest
          fish -c 'git clone https://github.com/amiorin/big-config.git --branch main --single-branch --depth=2
          && git config --global url."https://$GITHUB_TOKEN:x-oauth-basic@github.com/".insteadOf "https://github.com/"
          && git config --global user.name "github-actions[bot]"
          && git config --global user.email "41898282+github-act ions[bot]@users.noreply.github.com"
          && cd big-config
          && bb build
          && direnv allow
          && direnv exec . just test'

  tag:
    needs:
      - test
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v4"
        with:
          fetch-depth: 0

      - id: set-artifact-tag-version
        run: echo "ARTIFACT_TAG_VERSION=0.3.$(git rev-list --count HEAD)" >> $GITHUB_OUTPUT

      - id: create-tag
        uses: rickstaa/action-create-tag@v1
        with:
          tag: ${{ steps.set-artifact-tag-version.outputs.ARTIFACT_TAG_VERSION }}
          force_push_tag: true
